







*{margin: 0;padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
body{font-family: 'Merriweather', serif;}
.fl{float:left;}
.fr{float: right;}
.fix{overflow: hidden;}
.cl{clear: both;}
h1{ font-size: 72px;color: #ffffff;}
p{ font-size: 18px; color:#999999;}
h2{font-size: 72px;color: #363636;}
ul li{list-style: none;display: inline-block;}
ul li a{text-decoration: none ; cursor: pointer;}






/* SIZING START HERE */
.container{width: 1920px;margin:0 auto;}
.structure{width: 1160px;margin:0 auto;}
/* SIZING ENDS HERE */







/* HEADER START FROM HRRE */

.headersection {
    position: relative;  z-index: 1;
} 
.headersection::after{
    content: ''; position: absolute; height:100%; width:50%; top: 40px; right: 0;
    background-image: url('images/googly-Background.png'); background-repeat: no-repeat;
    z-index:-1;
} 

.navigation {
    padding: 60px 160px;
}

.logoArea{
   width: 10%;
}

.navMenu {
    width: 50%; padding: 5px 0px;
}

.navMenu ul{
    text-align: center;
}

.navMenu ul li a{
    font-size: 18px; color: #314584; margin-left: 23px; margin-right: 23px;
}

.navMenu ul li a:hover{
    color: #ff3946 ;
}

.contactUS {
    width: 20%;  margin-right: 185px;
}

.Btnone{
    color: #314584;  margin-left: 22px;  margin-right: 22px;  border: none;  font-size: 18px;
    text-decoration: none;
}
.Btnone:hover{
    color: #ff3946 ; 
}
.BtnTwo{ 
    text-decoration: none; color: #ff3946; margin-left: 22px; margin-right: 22px; padding: 10px 11px;
    background-color: #ffffff; box-shadow: 0px 0px 10px #e2e5e5 ; border-radius: 5px;
}
.BtnTwo:hover{
    color: #314584;
}

.headerHero {
 padding: 260px 0px;
 
}

.HeroBg{
    position: relative; z-index: 1;
}

.HeroBg::before {
    content: '';  position: absolute;  height: 100%;  width: 50%;  top: 89px;  right: -109px;
    background-image: url(images/largehumonoidmobielimg.png); background-repeat: no-repeat;
    z-index: 2;
}
.HeroAreaHeading{
    width: 45%;
}

.HeroAreaHeading h1 {
    color: #314584;  font-size: 74px;  margin-bottom: 50px;
}

.HeroAreaHeading p {
    margin-bottom:10px; font-size: 18px;;
}

.heroButtons {
    width: 100%; margin-bottom: 32px;  margin-top: 50px;
}

.HeroButtonone{
    width: 16%; padding: 15px 35px; background-color: #ff3946; border-radius: 25px;
    text-decoration: none; color: #ffffff; margin: 0px 10px 0px 0px;  
}

.HeroButtontwo{
    color: #314584; text-decoration: none; padding: 15px 35px; border-radius: 25px;
}

.HeroButtontwo:hover{
    width: 15%; padding: 15px 35px; background-color: #ff3946; border-radius: 25px; text-decoration: none;
    color: #ffffff; margin: 0px 0px 0px 10px; transition: all .5s ease;
}

/*  HEADER ENDS HERE */










/* sANNYTHING START FROM HERE */

.annything {
    position: relative;  z-index: 1;
}

.annything::before{
    content: '';  position: absolute;  height: 100%;  width: 100%;  top: 52px;  right: 0px;
    background-image: url(images/secondgoogly-bgleft.png);  background-repeat: no-repeat;
    z-index: -1;
}

.annything::after{
    content: '';  position: absolute;  height: 100%;  width: 18%;  top: 370px;  right: 0px;
     background-image: url(images/secondgooglybgright.png); background-repeat: no-repeat;
      z-index: -1;
}

.ServicesmainBOx{
    padding: 120px 0px;
}

.servicesHeading {
    width: 30%;  padding-bottom: 20px;
}

.servicesHeading h1{
   color: #314584;   font-size: 45px;  margin-bottom: 45px;
   
}

.servicesHeading a{
   text-decoration: none; width: 16%;  padding: 15px 35px;  background-color: #ff3946;
    border-radius: 25px; text-decoration: none; color: #ffffff;  margin: 0px 10px 0px 0px;
    
}
.serviceThatwesellcarts {
  width: 68%;
  padding:10px ;
}

.productCart {
    width: 35%;  margin: 0px 36px 0px 36px; text-align: left; padding:50px 50px 50px 50px;
    box-shadow: 0px 2px 10px #e2e5e5;
}
.cartone{
    margin-bottom: 2px;
}
.carttwo{
    text-decoration: none;  font-size: 28px;  margin-bottom: 2px;  color: #314584; 
}
.cartThree{
    line-height: 20px;
}

/* ANNYTHING ENDS HERE */









/* SOME FINE START FROM HERE */
.somefine {
    padding: 0px 0px 0px 290px;
}

.reserchArea {
    width: 50%;  padding: 100px 0px 100px 260px;  position: relative; z-index: 2;
}

.reserchArea::before{
    content: ''; position: absolute;  height: 100%;  width: 109%;  top: 113px;  right: 400px;
    background-image: url(images/desktopimg.png); background-repeat: no-repeat;
    z-index: -1;
}

.reserchArea a {
    text-decoration: none;  color:#ff3946  ;  font-weight: 600;
}
 
.reserchArea h1 {
    color: #314584;   font-size: 49px;
}

/* SOME FINE ENDS HERE */










/* WORK START FROM HERE  */

.worksection {
    position: relative; z-index: 1;
}

.worksection::before{
    content: '';  position: absolute;  height: 78%;  width: 100%;  top: 218px;  right: 0px;
    background-image: url(images/Third-googlybgleft.png); background-repeat: no-repeat;
    z-index: -1;
}

.worksectiondiv{
    padding: 150px 0px;
}

.worksectionHeading{
    margin-bottom:10px ; margin-bottom: 90px;
}

.mainHeading{
    width: 90%;
}

.mainHeading h1{
     color: #314584;   font-size: 49px;
}

.headinArrow{
    width: 10%;  padding-top:48px
}

.workThubnails {
    margin-bottom: 15px;
}
.workThubnails a {
    margin: 0px 6px 0px 6px;

}
.workThubnails img:hover{
    box-shadow: 0px 5px 10px #e2e5e5;
}

.seemoreForSLider {
    width: 100%; padding-left: 45%; margin-top: 60px;
}

.seemoreForSLider a {
    text-decoration: none; color:#ff3946  ;
}

.seemoreForSLider a:hover{
    color: black;
}
            
/*  WORK ENDS HERE  */












.onecobineArea {
    position: relative;  z-index: 1;
} 

.onecobineArea::before{
    content: "";  position: absolute;  height: 120%;  width: 22%;  top: 141px;  left: 1493px;
    background-image: url(images/forthrightgooglebg.png); background-repeat: no-repeat;
    z-index: -1; 
} 



/* NEWS START FROM HERE */

.ourNewsHeading {
    margin-left: 22px;
}

.ourNewsHeading a  {
    text-decoration: none;  color:#ff3946  ;  font-size: 18px;  font-weight: 500;
}

.ourNewsHeading h1 a{
    color: #314584;  font-size: 49px; font-weight: 800;
}

.newsCarts{
    padding: 75px 0px;
}

.newsminicart{
    padding: 55px 30px;  width: 31%;  margin-right: 1%;  margin-left: 1%;  
    box-shadow: 2px 2px 2px #e2e5e5; background-color: #ffffff;
}

.newsminicart:hover{
    box-shadow: 0px 5px 20px #e2e5e5 ;
}

 .CActive {
    background-color:#ff3946  ;  box-shadow: 2px 2px 2px #e2e5e5;
}

.CActive:hover{
    box-shadow: 0px 5px 10px black;
}

.newsminicart h4{ 
    color: #314584;
}

.newsminicart p{
    color: #314584;
    margin-bottom: 55px;
}

.CActive {
    background-color:#ff3946  ;
}

.CActive h4{ 
    color: #ffffff;
}

.CActive p{
    color: #ffffff;
}

.newsArrow {
    margin:0px 0px 0px 0px;
}

.newsminicart a{
    margin-left: 95%; 
}

.newsminicart a img{
    background:transparent;
}

/* NEWS ENDS HERE */








/* CONTUCT START FROM HERE */


.contactusdivMain{
    padding: 100px 0px;
}

.contactusdiv a { 
    text-decoration: none;  color: #ff3946;  font-size :18px;  font-weight: 600;  padding-left: 25px;
}

.contactusdiv h1 a {
    text-decoration: none; color: #314584; font-size: 49px;
}

.formArea {
    margin-bottom: 35px; padding-left: 20px;
}

.formArea [type="text"]{
    width: 47%;  margin-left: 1%;  margin-right: 1%; background-color:#f4fafe ; border: none;
   padding: 25px 20px; color: #314584; font-size: 18px;
}

.formArea2 {
    padding-left: 20px;
}

#mbox {
    width: 96.3%;  margin-left: 1%;  color: #314584;  background-color:#f4fafe ;  padding: 25px 20px;
    border: none;  font-size: 18px;
}

.sentconfirmetion{
   width: 100%; padding-left: 43%; margin-top: 55px;
}

.sentconfirmetion a{
    width: 16%;  padding: 15px 35px;  background-color: #ff3946;  border-radius: 25px;
    text-decoration: none;  color: #ffffff;  margin: 0px 10px 0px 0px;
}

/* CONTUCT ENDS HERE */









/*FOOTER START HERE */
.footerSection {
    background-color: #314584;
}

.footerdivArea {
    text-align: center;
    padding:70px 0px;
}

.footerdiv{
    margin-bottom: 20px;
}
.footerdiv h1{
    font-size: 49px; color: #ff3946;
}

.footerdivArea p {
    color: #ffffff; margin-bottom: 45px;
}

.footNav {
    margin-bottom: 45px;
}

.footNav li a {
    font-size: 18px; color: #ffffff; margin-left: 23px; margin-right: 23px;
    font-weight: 600;
}

.footNav li a:hover {
    color:#ff3946
}

.social {
    margin-bottom: 20px;
}

.social a {
    margin-left:36px ;  margin-right: 36px;
}

.social a:hover{
    filter: invert();
}

/* FOOTER ENDS HERE */